.list-item{
    width: 100%;
    text-align: left;
}

.list-item img{
    width: 10%;
}

.list-item span{
    width: 90%;
}

#suggests{
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-right: 15px;
    max-height: 400px;
}

.div-scroll{
    max-height: 400px;
    overflow-y: scroll;
    margin-right: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    border-radius: 4px;

}

.item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}

body{
    /* background: url(./../image/background.jpg); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: bottom;
    background-color: #fddf51;
}

.manager-log {
    margin-top: 25px;
}

#logs {
    margin-top:50px;
}

.margin-top-50 {
    margin-top:50px
}

.img-responsive{
    max-height: 100px;
}

#app-name {
    background: white;
        border-radius: 5px;
}

.margin-app {
    margin:15px
}